@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Slab','Poppins',sans-serif;


}
body{
    overflow-y:hidden;
    min-height: 100vh;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
h1,h2{
    color:#444;
}
h3{
    color:#999;
}
.btn{
    background: #04027e;
    color:white;
    padding:5px 10px;
    text-align:center;
    border-radius: 10px;
}
.btn:hover{
    color:#f05462;
    background: white;
    padding:3px 8px;
    border:2px solid #f05462;
    transition: 0.5s all ease-in-out;
    transform: scale(1.5);

}
.title{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:15px 10px;
    border-bottom: 2px solid #999;

}
table{
    padding: 10px;
}
th,td{
    text-align: left;
    padding: 8px;
}
.side-menu{
    position: fixed;
    background: #021163d3;
    width:20vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.side-menu .brand-name h2{
    color:white;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color:white;
    display: flex;
    align-items: center;

}
.side-menu li:hover{
    background: white;
    color:#f05462;

}
.side-menu li img{
    width:30px;
    height:30px;
}
.side-menu li{
    font-size:large;
}
.side-menu li a:link,a:visited,a:active{
    color:white;
}
.side-menu li a:hover{
    color:#f05462;
}
.container{
    position: absolute;
    right:0;
    width:80vw;
    height:100vh;
    background: #f1f1f1;

}
.container .header{
    position: fixed;
    top:0;
    right:0;
    width:80vw;
    height:10vh;
    background: white;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


}
.container .header .nav{
    width:90%;
    display:flex;
    align-items: center;

}
bold{
    font-size: 30px;
    
}
.container .header .nav .phead img{
    width:40px;
    height:40px;
}
.container .header .nav .search{
    flex:3;
    display:flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border:1px solid #04027e;
    background: #f1f1f1;
    padding: 10px;
    width:50%;
}
.container .header .nav .search button{
    width:40px;
    height:40px;
    border:none;
    display:flex;
    align-items: center;
    justify-content:center;
}
.container .header .nav .search button img{
    width:30px;
    height:30px;
}

.container .header .nav .user{
    flex:1;
    display:flex;
    justify-content: space-between;
    align-items: center;

    

}
.container .header .nav .user img{
    width:40px;
    height:40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width:50px;
    height:50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

}
.container .content{
    position: relative;
    margin-top: 10vh;
    margin-right: 50px;
    min-height: 90vh; 
    /* background: #f1f1f1; */
    /* margin-left:50px ;
   
    /* margin-left: 10px; */

}
.container .content .cards{
    padding:10px 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    /* flex-wrap: wrap; */
    /* margin-left: 10px; */

}
.container .content .cards .card{
    width:250px;
    height:150px;
    background: white;
    margin:20px 10px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.container .content .cards .card .icon-case img{
    height:100px;
    /* width:40px; */
}
.container .content .content-2{
    min-height:60vh;
    display:flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap:wrap;
    
}

.container .content .content-2 .recent-payments{
    min-height: 50vh;
    flex:5;
    /* width:80%; */
    background: white;
    margin:0 25px 25px 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display:flex;
    flex-direction: column;
    border-radius: 2px;
}
.container .content .content-2 .new-customers{
    min-height: 50vh;
    flex:3;
    background: white;   
    margin:0 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display:flex;
    flex-direction: column;
    border-radius: 2px;
    /* float:right; */
}
.container .content .content-2 .new-customers td:nth-child(1) img{
    width:30px;
    height:30px;

}

